.search-app-container{
}

/* 
@media screen and (width < 800px){
    .stack-options-container, .reddit-options-container, .stack-search-results-container, .reddit-search-results-container {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
        padding-bottom: 10px;
        border-radius: 100px;
    }  
} */
 
.stack-options-container, .reddit-options-container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
}


.cache-search-container{}

.stredsearch-container{
    padding-bottom: 20px;
}

.so-reddit-picker{
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 5px;
    margin-top: 10px;
}

.stack-options-container{
    border: 2px solid grey;
}

.reddit-options-container{
    border: 2px solid grey;
}

.search-button-container{
}

.search-results-container{
    width: 100%;
}

.stack-search-results-container, .reddit-search-results-container {
    padding:10px;
}

.stack-search-results-container{
}

.reddit-search-results-container{
}

.stack-response-container{
    background-color:orange;
}

.stack-response-question-title{
}

.stack-response-question-title-link{
    color: white;
    text-decoration: none; 
}

a.stack-response-question-title-link:hover{
    color: white;
}

.stack-response-question-tags-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.stack-response-question-tag{
    position: relative;
    background-color:blueviolet;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;

}

.stack-response-question-tag-span{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.stack-response-question-metadata-holder{}

.stack-question-response-user-container{
    padding: 5px;
    margin: 5px;
}

.stack-question-accepted, .stack-question-not-accepted {
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.stack-question-accepted{
    background-color: #d4edda;
    color: #155724;
}

.stack-question-not-accepted{
    background-color: #f8d7da;
    color: #721c24;
}

.reddit-response-container{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color:black;
}


.reddit-response-question-subreddit-container{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.reddit-response-question-subreddit{
    position: relative;
    background-color:orange;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;

}

.reddit-response-question-tag-span{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}