.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.stack-question-container {
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  background-color: orange;
}

.stack-question.title{
  width: 100%;
}

.stack-question-tags{}

.stack-question-user{}

.stack-question-accepted{}

.stack-question-answer-count{}

.stack-question-created-date{}

.stack-question-last-activity-date{}

.stack-question-vote-number{}