.reddit-options-container {
        width: 90%;
        background-color: green;
        margin: 10px;
        padding: 20px;
        border-radius: 10px;
        color: white;
}

.stack-options-route-select-container{
    margin:10px;
}