.stack-options-container{
    width: 90%;
    background-color: grey;
    margin: 10px;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: white;
}

.input-wrapper{
    justify-content: left;
}


.row-padding{
    padding: 5px;
}

.row-margin{
    margin: 10px;
}

.numeric-input{
    width: 75px;
}